{erl_opts, [debug_info,
	   {i,"include"},
	   {i,"/home/joq62/erlang/include"},
	   {i,"_build/default/lib/*/include"},
            {d, 'EDOC', [{doc_path, "doc"}]}]}.
{deps, [
     
       ]}.
{edoc_opts, [
  %  {doclet, edown_doclet},
 %   {top_level_readme, {"./README.md", "https://github.com/youruserjoq62ame/ad_1.git"}},
    {source_path, ["src"]},
    {output_dir, "doc"}
]}.
{shell, [
   % {config, "config/sys.config"},
    {apps, [ad_1]}]}.

%% Release relx
{relx, [{release, {ad_1_rel,"0.1.0"},
        [ad_1]},

        {sys_config, "./config/sys.config"},
        {vm_args_src, "./config/vm.args.src"},
	
        {dev_mode, true},
        {include_erts, false},

        {extended_start_script, true}]
}.